.product_detail
{
    width: 1200px;
    height: 450px;
    position: fixed;
    top: 160px;
    left: 10px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #2D99AE;
    border-radius: 5px;
}
.product_detail .close_btn{
    float: right;
    color: #2D99AE;
    border: none;
    padding: 5px;
    background: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.product_detail .container{
    width: 100%;
    display: flex;
    padding: 0 10px;
}
.product_detail .container .img_box{
    padding: 5px 5px;
    background-color:#345E7D;
    border-radius: 10px;
}
.product_detail .container .img_box img{
    width: 270px;
    height: 270px;
}
.product_detail .single-pro-details{
    margin-left: 10px;
}

.product_detail .single-pro-details .pr{
    display: flex;
    padding: 10px 0;
}

.product_detail .single-pro-details .pr .star{
    padding: 10px 130px;
    color: rgb(243,181, 25);
}

.product_detail .single-pro-details h5{
    padding: 10px 0;
}


.product_detail .single-pro-details h4{
    padding: 10px 0 10px 0;
}

.product_detail .single-pro-details h2{
    font-size: 26px;
}

.product_detail .single-pro-details select{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.product_detail .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.product_detail .single-pro-details input:focus{
    outline: none;
}

.product_detail .single-pro-details button{
    color: #FFF;
    background: #2D99AE;
}

.product_detail .single-pro-details span{
    line-height: 25px;
    font-size: 13px;
    font-weight: 400px;
}

.product_detail .single-pro-details .justified{
    display: block;
    text-align: justify;
}
#page-header{
    background-image: url(http://localhost:3000/image/banner/banner7.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #FFF;
}

#shop{
    width: 100%;
}

#shop .container{
    max-width: 100%;
    display: flex;
}

#shop .container .left_box{
    width: 25%;
}

#shop .container .left_box .category{
    border: 3px solid #E3E6F3;
    width: 200px;
}

#shop .container .left_box .category .header{
    max-width: 100%;
    padding: 10px 20px;
    background: #E3E6F3;
    text-transform: uppercase;
}

#shop .container .left_box .category .header h4{
    font-size: 15px;
}

#shop .container .left_box .category .box{
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
}

#shop .container .left_box .category .box ul{
    max-width: 100%;
}

#shop .container .left_box .category .box ul li{
    list-style: none;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #345E7D;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
#shop .container .left_box .category .box ul li:hover{
    color: #001C44;
}
#shop .container .left_box .banner{
    margin-top: 20px;
    width: 200px;
}

#shop .container .left_box .banner img{
    width: 100%;
    object-fit: cover;
}

#shop .container .right_box{
    width: 100%;
}

#pagination{
    text-align: center;

}

#pagination a{
    text-decoration: none;
    background-color: #2D99AE;
    padding: 15px 20px;
    border-radius: 4px;
    color: #FFF;
    font-weight: 600;    
    margin: 0 5px;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

